body {
	--circle-diameter: 56vw;
}
@keyframes effectOrbit {
	0% {
		transform: rotate(0deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(0deg);
	}
	25% {
		transform: rotate(90deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(-90deg);
	}
	50% {
		transform: rotate(180deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(-180deg);
	}
	75% {
		transform: rotate(270deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(-270deg);
	}
	100% {
		transform: rotate(360deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(-360deg);
	}
}
@keyframes effectOrbitScale {
	0% {
		transform: scale(0.5);
	}
	25% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	75% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.5);
	}
}

.bt-orbit-wrap {
	position: relative;
	width: var(--circle-diameter);
	height: var(--circle-diameter);
	border: 1px solid #eacee8;
	border-radius: 100%;
	transform: rotate(180deg);
	.bt-orbit {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 20px;
		height: 20px;
		margin: -10px 0 0 -10px;
		transform: rotate(0deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(0deg);
		span {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 100px;
		}
		&.red {
			animation: effectOrbit 10s linear infinite;
			span {
				background: #ffcf37;
				animation: effectOrbitScale 10s linear infinite;
			}
		}
		&.blue {
			animation: effectOrbit 12s linear infinite;
			span {
				background: #00b3d3;
				animation: effectOrbitScale 12s linear infinite;
			}
		}
		&.yellow {
			animation: effectOrbit 15s linear infinite;
			span {
				background: #ffd800;
				animation: effectOrbitScale 15s linear infinite;
			}
		}
		&.purple {
			animation: effectOrbit 18s linear infinite;
			span {
				background: #6600ff;
				animation: effectOrbitScale 18s linear infinite;
			}
		}
		&.green {
			animation: effectOrbit 20s linear infinite;
			span {
				background: #00ff78;
				animation: effectOrbitScale 20s linear infinite;
			}
		}
	}
}

.bt-elwg-orbit-circle {
	display: none;
}

.bt-orbit-enable {
	.bt-elwg-orbit-circle {
		display: block;
	}
	.bt-site-main {
		position: relative;
		overflow: hidden;
		z-index: 1;
		.bt-orbit-effect {
			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;
			transform: translate(30%, -35%);
		}
	}
}

body {
	--pattern-diameter: 100vw;
}
.bt-bg-pattern-effect {
	position: relative;
	width: var(--pattern-diameter);
	height: var(--pattern-diameter);
	background-color: transparent;
	background-image: url("../images/plus.svg");
	background-position: center;
	background-repeat: repeat;
	background-size: 40px;
	pointer-events: none;
	opacity: 0.1;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		background-image: radial-gradient(circle, transparent 0%, #fff 70%);
	}
}

.bt-elwg-pattern-background {
	display: none;
}

.bt-bg-pattern-enable {
	.bt-elwg-pattern-background {
		display: block;
	}
	.bt-site-main {
		position: relative;
		overflow: hidden;
		z-index: 1;
		.bt-bg-pattern-effect {
			position: absolute;
			top: 50%;
			left: 0;
			z-index: -1;
			transform: translate(-40%, -50%);
		}
	}
}

@keyframes effectBuble {
	from {
		opacity: 0.15;
	}
	25% {
		opacity: 0.5;
		transform: scale3d(3, 3, 4);
	}
	50% {
		opacity: 0.75;
	}
	75% {
		opacity: 1;
	}
	to {
		opacity: 0.15;
	}
}

.bt-bg-buble-effect {
	position: relative;
	overflow: hidden;
	background: #f7f7f7;
	.bt-bubles-beblow,
	.bt-bubles-above {
		display: flex;
		flex-wrap: wrap;
		gap: 150px;
		opacity: 0.5;
	}
	.bt-bubles-beblow {
		margin: -25px 0 0 -25px;
	}
	.bt-bubles-above {
		position: absolute;
		top: 125px;
		left: 100px;
		width: 100%;
		z-index: 1;
	}
	.buble {
		display: block;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background: #f7f7f7;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
		animation: effectBuble infinite;
		&:nth-child(1) {
			animation-duration: 8s;
		}
		&:nth-child(2) {
			animation-duration: 22s;
		}
		&:nth-child(3) {
			animation-duration: 9s;
		}
		&:nth-child(4) {
			animation-duration: 6s;
		}
		&:nth-child(5) {
			animation-duration: 8s;
		}
		&:nth-child(6) {
			animation-duration: 10s;
		}
		&:nth-child(7) {
			animation-duration: 15s;
		}
		&:nth-child(8) {
			animation-duration: 13s;
		}
		&:nth-child(8) {
			animation-duration: 8s;
		}
		&:nth-child(9) {
			animation-duration: 21s;
		}
		&:nth-child(10) {
			animation-duration: 8s;
		}
		&:nth-child(11) {
			animation-duration: 6s;
		}
		&:nth-child(12) {
			animation-duration: 7s;
		}
		&:nth-child(13) {
			animation-duration: 10s;
		}
		&:nth-child(14) {
			animation-duration: 20s;
		}
		&:nth-child(15) {
			animation-duration: 12s;
		}
		&:nth-child(16) {
			animation-duration: 20s;
		}
		&:nth-child(17) {
			animation-duration: 16s;
		}
		&:nth-child(18) {
			animation-duration: 6s;
		}
		&:nth-child(19) {
			animation-duration: 8s;
		}
		&:nth-child(20) {
			animation-duration: 10s;
		}
		&:nth-child(21) {
			animation-duration: 15s;
		}
		&:nth-child(22) {
			animation-duration: 6s;
		}
		&:nth-child(23) {
			animation-duration: 19s;
		}
		&:nth-child(24) {
			animation-duration: 7s;
		}
		&:nth-child(25) {
			animation-duration: 6s;
		}
		&:nth-child(26) {
			animation-duration: 10s;
		}
		&:nth-child(27) {
			animation-duration: 14s;
		}
		&:nth-child(28) {
			animation-duration: 18s;
		}
		&:nth-child(29) {
			animation-duration: 15s;
		}
		&:nth-child(30) {
			animation-duration: 8s;
		}
		&:nth-child(31) {
			animation-duration: 21s;
		}
		&:nth-child(32) {
			animation-duration: 8s;
		}
		&:nth-child(33) {
			animation-duration: 6s;
		}
		&:nth-child(34) {
			animation-duration: 7s;
		}
		&:nth-child(35) {
			animation-duration: 15s;
		}
		&:nth-child(36) {
			animation-duration: 11s;
		}
		&:nth-child(37) {
			animation-duration: 17s;
		}
		&:nth-child(38) {
			animation-duration: 8s;
		}
		&:nth-child(39) {
			animation-duration: 6s;
		}
		&:nth-child(40) {
			animation-duration: 10s;
		}
	}
}

.bt-elwg-buble-background {
	display: none;
}

.bt-bg-buble-enable {
	.bt-elwg-buble-background {
		display: block;
	}
	.bt-social-mcn-ss {
		position: relative;
		overflow: hidden;
		z-index: 1;
		&:before {
			display: none;
		}
		.bt-bg-buble-effect {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			.buble {
				background: -webkit-radial-gradient(center bottom, ellipse cover, #ddd 0%, #fff 100%);
			}
		}
	}
}

@keyframes effectBgScroll {
	from {
		background-position: center center;
	}
	25% {
		background-position: center 75%;
	}
	75% {
		background-position: center 25%;
	}
	to {
		background-position: center center;
	}
}
.bt-bg-scroll-enable {
	.bt-bg-scroll-effect,
	.bt-site-titlebar {
		animation: effectBgScroll 130s infinite;
	}
}
@keyframes effectImageScroll {
	from {
		object-position: center top;
	}
	50% {
		object-position: center bottom;
	}
	to {
		object-position: center top;
	}
}
@keyframes effectPlayButton {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}

.bt-play-btn-effect {
	.elementor-icon-box-icon a {
		position: relative;
		z-index: 1;
		.fa-play {
			transform: translateX(2px);
		}
		&:before {
			content: "";
			position: absolute;
			z-index: 0;
			left: 50%;
			top: 50%;
			display: block;
			width: 100%;
			height: 100%;
			background: #fff;
			border-radius: 50%;
			z-index: -1;
			transform: translateX(-50%) translateY(-50%);
			animation: effectPlayButton 1500ms ease-out infinite;
		}
	}
}

.bt-img-zoom-enable {
	.bt-image-effect {
		.bt-post {
			.bt-cover-image img {
				transform: scale(1);
				transition: all 3s cubic-bezier(0.11, 0.52, 0.53, 0.79) 0s;
			}
			&:hover {
				.bt-cover-image img {
					transform: scale(1.1);
				}
			}
		}
	}
}

.bt-effect-overflow {
	overflow-x: clip !important;
}
@keyframes effectDeformY {
	0% {
		transform: none;
	}

	25% {
		transform: scaleY(1.05) skewY(2deg);
	}

	50% {
		transform: none;
	}

	75% {
		transform: scaleY(1.05) skewY(-2deg);
	}

	100% {
		transform: none;
	}
}
.bt-animation-bubble-images {
	animation-name: effectDeformY;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
@keyframes bubble {
	from {
		transform: rotate(0) scale(1);
	}
	50% {
		transform: rotate(-20deg) scale(1.05);
	}
	to {
		transform: rotate(40deg) scale(0.95);
	}
}
.bt-animation-bubble-images-style1 {
	transform: rotate(0) scale(1);
	animation: bubble 6s ease-in-out 3s infinite alternate;
}
@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes ZoomIn {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
.bt-word,
.bt-letter {
	display: inline-block;
}

.bt-letter {
	opacity: 0;
	transform: translateX(20px);

	.bt-animation-right & {
		animation: fadeInRight 0.5s ease forwards;
	}
	.bt-animation-left & {
		animation: fadeInLeft 0.5s ease forwards;
	}
	.bt-animation-up & {
		animation: fadeInUp 0.5s ease forwards;
	}
	.bt-animation-down & {
		animation: fadeInDown 0.5s ease forwards;
	}
	.bt-animation-zoom & {
		animation: ZoomIn 0.5s ease forwards;
	}
}
@keyframes effectBubbleRiseButton {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	70% {
		opacity: 0.8;
	}
	100% {
		transform: translateY(-100px);
		opacity: 0;
	}
}

@keyframes effectBubbleSideWaysButton {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: 30px;
	}
}
@keyframes effectcCleaningSwipe {
	0% {
		left: -50px;
		opacity: 1;
		transform: rotate(-30deg);
	}
	50% {
		opacity: 1;
	}
	100% {
		left: 130%;
		opacity: 0;
		transform: rotate(30deg);
	}
}
.bt-button-hover-cleanira {
	.elementor-button,
	.bt-button {
		position: relative;
		overflow: hidden;
		display: inline-flex;
		color: #212121;
		&::before {
			position: absolute;
			bottom: -30px;
			width: 30px;
			content: "";
			height: 30px;
			background-image: url("../images/img-bubble-blue.png");
			background-size: contain;
			background-repeat: no-repeat;
			left: 10%;
		}
		&::after {
			position: absolute;
			bottom: -30px;
			width: 15px;
			content: "";
			height: 15px;
			background-image: url("../images/img-bubble-blue.png");
			background-size: contain;
			background-repeat: no-repeat;

			left: 40%;
		}
		.elementor-button-content-wrapper,
		.bt-heading {
			> span {
				position: relative;
				z-index: 99;
			}
			&::before {
				position: absolute;
				bottom: -30px;
				width: 30px;
				content: "";
				height: 30px;
				background-image: url("../images/img-bubble-blue.png");
				background-size: contain;
				background-repeat: no-repeat;
				left: 50%;
			}
			&::after {
				@media (min-width: $break-sm) {
					content: "";
					position: absolute;
					width: 55px;
					height: 55px;
					background: url("../images/icon-clean.png") no-repeat center / contain;
					bottom: -10px;
					left: -50px;
					transform: translateY(0) rotate(-30deg);
					z-index: 1;
					opacity: 0;
				}
			}
		}
		&:hover {
			box-shadow: 0px 4px 50px 0 rgba(0, 0, 0, 0.1);
			&::before,
			&::after {
				animation:
					effectBubbleRiseButton 5s linear infinite,
					effectBubbleSideWaysButton 2s ease-in-out infinite alternate;
			}
			&::before {
				animation-duration: 6s;
			}
			&::after {
				animation-duration: 3s;
			}
			.elementor-button-content-wrapper,
			.bt-heading {
				&::before {
					animation:
						effectBubbleRiseButton 5s linear infinite,
						effectBubbleSideWaysButton 2s ease-in-out infinite alternate;
				}
				&::before {
					animation-duration: 4s;
				}
				&::after {
					animation: effectcCleaningSwipe 2.7s cubic-bezier(0.11, 0.52, 0.53, 0.79) forwards;
				}
			}
		}
	}
}
.bt-button-hover-cleanira-style2 {
	.elementor-button,
	.bt-button {
		position: relative;
		overflow: hidden;
		display: inline-flex;
		color: #212121;
		&::before {
			position: absolute;
			bottom: -30px;
			width: 30px;
			content: "";
			height: 30px;
			background-image: url("../images/img-bubble-white.png");
			background-size: contain;
			background-repeat: no-repeat;
			left: 10%;
		}
		&::after {
			position: absolute;
			bottom: -30px;
			width: 15px;
			content: "";
			height: 15px;
			background-image: url("../images/img-bubble-white.png");
			background-size: contain;
			background-repeat: no-repeat;

			left: 40%;
		}
		.elementor-button-content-wrapper,
		.bt-heading {
			> span {
				position: relative;
				z-index: 99;
			}
			&::before {
				position: absolute;
				bottom: -30px;
				width: 30px;
				content: "";
				height: 30px;
				background-image: url("../images/img-bubble-white.png");
				background-size: contain;
				background-repeat: no-repeat;
				left: 50%;
			}
			&::after {
				@media (min-width: $break-sm) {
					content: "";
					position: absolute;
					width: 55px;
					height: 55px;
					background: url("../images/icon-clean.png") no-repeat center / contain;
					bottom: -10px;
					left: -50px;
					transform: translateY(0) rotate(-30deg);
					z-index: 1;
					opacity: 0;
				}
			}
		}
		&:hover {
			box-shadow: 0px 4px 50px 0 rgba(0, 0, 0, 0.1);
			&::before,
			&::after {
				animation:
					effectBubbleRiseButton 5s linear infinite,
					effectBubbleSideWaysButton 2s ease-in-out infinite alternate;
			}
			&::before {
				animation-duration: 6s;
			}
			&::after {
				animation-duration: 3s;
			}
			.elementor-button-content-wrapper,
			.bt-heading {
				&::before {
					animation:
						effectBubbleRiseButton 5s linear infinite,
						effectBubbleSideWaysButton 2s ease-in-out infinite alternate;
				}
				&::before {
					animation-duration: 4s;
				}
				&::after {
					animation: effectcCleaningSwipe 2.7s cubic-bezier(0.11, 0.52, 0.53, 0.79) forwards;
				}
			}
		}
	}
}
.bt-button-hover-awakenur {
	a {
		display: inline-flex;
		position: relative;
		overflow: hidden;
		z-index: 1;
		color: #4f320e;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			box-sizing: border-box;
			transition: 0.3s ease-in-out;
			z-index: -1;
			opacity: 0;
		}
		&::before {
			right: -50px;
			border-right: 50px solid transparent;
			border-bottom: 80px solid #4f320e;
			transform: translateX(-100%);
		}
		&::after {
			left: -50px;
			border-left: 50px solid transparent;
			border-top: 80px solid #4f320e;
			transform: translateX(100%);
		}
		&:hover {
			color: #ebd5b8 !important;
			fill: #ebd5b8;
			transition: 0.5s ease-in-out;
			&::before {
				transform: translateX(-49%);
				opacity: 1;
			}
			&::after {
				transform: translateX(49%);
				opacity: 1;
			}
		}
		> * {
			position: relative;
			z-index: 1;
		}
	}
}
@keyframes effectVibrateImages {
	0% {
		transform: translateY(12px);
	}

	50% {
		transform: translateY(6px);
	}

	100% {
		transform: translateY(12px);
	}
}

@keyframes effectVibrateImagesSink {
	100% {
		transform: translateY(12px);
	}
}
.bt-images-vibrate-effect {
	img {
		animation-name: effectVibrateImagesSink, effectVibrateImages;
		animation-duration: 0.3s, 1.5s;
		animation-delay: 0s, 0.3s;
		animation-timing-function: ease-out, ease-in-out;
		animation-iteration-count: 1, infinite;
		animation-fill-mode: forwards;
	}
}
@for $i from 0 through 4 {
	@keyframes card_fade_#{$i + 1} {
		#{$i * 20%} {
			opacity: 0;
		}
		#{($i + 1) * 20%} {
			opacity: 1;
		}
	}
}

.bt-loading-card {
	.bt-card {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -100px;
		margin-top: -150px;
		width: 200px;
		height: 300px;
		border: 10px solid #ffcf37;
		border-radius: 30px;
		background-color: transparent;
		outline: 20px solid transparent;
		transform: rotateZ(-28deg) rotateY(27deg) rotateX(50deg);
		opacity: 0;

		.bt-bg-logo {
			background: url(../images/site-logo.png) center/contain no-repeat;
			transform: rotate(90deg);
			display: block;
			width: 215px;
			height: 151px;
			position: absolute;
			left: -12px;
			top: 57px;
		}
	}

	@for $i from 0 through 4 {
		.bt-card:nth-of-type(#{$i + 1}) {
			margin-top: -150px - $i * 20px;
			animation: card_fade_#{$i + 1} 3s ease infinite;
		}
	}

	@media (max-width: 600px) {
		.bt-card {
			margin-left: -66.67px;
			margin-top: -100px;
			width: 133.33px;
			height: 200px;
			border: 6px solid #ffcf37;
			outline: 12px solid transparent;
			.bt-bg-logo {
				width: 143.33px;
				height: 100.67px;
				left: -8px;
				top: 38px;
			}
		}

		@for $i from 0 through 4 {
			.bt-card:nth-of-type(#{$i + 1}) {
				margin-top: -100px - $i * 13.33px;
			}
		}
	}
}
.bt-button-elm-hover {
	.elementor-button {
		position: relative;
		display: block;
		overflow: hidden;
		transition: border-color 0.3s ease;

		.bt-span-hover {
			position: absolute;
			display: block;
			width: 0;
			height: 0;
			border-radius: 50%;
			background-color: #111;
			transition:
				width 0.4s ease-in-out,
				height 0.4s ease-in-out;
			transform: translate(-50%, -50%);
			z-index: 1;
			will-change: width, height;
		}
		&:hover {
			border-color: #111 !important;
			.bt-span-hover {
				width: 225%;
				height: 562.5px;
			}
			.elementor-button-content-wrapper {
				color: #fff;
				transition: color 0.3s ease 0.1s;
				svg {
					path {
						fill: #fff;
						transition: fill 0.3s ease 0.1s;
					}
				}
			}
		}
	}
	.elementor-button-content-wrapper {
		position: relative;
		z-index: 2;
	}
}
.bt-button-elm-hover-style1 {
	.elementor-button {
		position: relative;
		display: block;
		overflow: hidden;
		transition: border-color 0.3s ease;

		.bt-span-hover {
			position: absolute;
			display: block;
			width: 0;
			height: 0;
			border-radius: 50%;
			background-color: $color-accent;
			transition:
				width 0.4s ease-in-out,
				height 0.4s ease-in-out;
			transform: translate(-50%, -50%);
			z-index: 1;
			will-change: width, height;
		}
		&:hover {
			border-color: $color-accent !important;
			.bt-span-hover {
				width: 225%;
				height: 562.5px;
			}
			.elementor-button-content-wrapper {
				color: #111;
				transition: color 0.3s ease 0.1s;
				svg {
					path {
						fill: #111;
						transition: fill 0.3s ease 0.1s;
					}
				}
			}
		}
	}
	.elementor-button-content-wrapper {
		position: relative;
		z-index: 2;
	}
}
.bt-button-hover {
	position: relative;
	display: block;
	overflow: hidden;
	transition: border-color 0.3s ease;
	span {
		display: flex;
		align-items: center;
		gap: 8px;
		position: relative;
		z-index: 2;
	}
	.bt-span-hover {
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-radius: 50%;
		background-color: #111;
		transition:
			width 0.4s ease-in-out,
			height 0.4s ease-in-out;
		transform: translate(-50%, -50%);
		z-index: 1;
		will-change: width, height;
	}
	&:hover {
		border-color: $color-accent !important;
		.bt-span-hover {
			width: 225%;
			height: 562.5px;
		}
		span {
			color: #fff;
			svg {
				path {
					fill: #fff;
				}
			}
		}
	}
}
.bt-button-hover-style1 {
	position: relative;
	display: block;
	overflow: hidden;
	transition: border-color 0.3s ease;
	span {
		display: flex;
		align-items: center;
		gap: 8px;
		position: relative;
		z-index: 2;
	}
	.bt-span-hover {
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-radius: 50%;
		background-color: $color-accent;
		transition:
			width 0.4s ease-in-out,
			height 0.4s ease-in-out;
		transform: translate(-50%, -50%);
		z-index: 1;
		will-change: width, height;
	}
	&:hover {
		background: transparent !important;
		border-color: $color-accent !important;
		.bt-span-hover {
			width: 225%;
			height: 562.5px;
		}
		span {
			color: #111;
			svg {
				path {
					fill: #111;
				}
			}
		}
	}
}
