.elementor-element {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
.elementor-widget-heading .elementor-heading-title {
  span {
    font-family: $secondary-font;
    color: $color-accent;
  }
  a {
    display: inline-block;
    color: $color-accent !important;
    text-decoration: underline;
  }
}
.elementor-headline,
.elementor-widget-image img {
  margin: 0;
}
.elementor-widget-text-editor {
  .elementor-widget-container,
  .elementor-text-editor {
    > *:last-child {
      margin-bottom: 0;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: inherit;
    margin: 0 0 16px;
  }
}
.elementor-widget-icon {
  line-height: 0;
}
.elementor-button .elementor-button-icon {
  display: flex;
  align-items: center;
  svg {
    height: auto;
    width: auto;
  }
}
.elementor-image-box-img img {
  margin: 0;
}
.elementor-widget-woocommerce-menu-cart {
  line-height: 1;
  .elementor-button-icon {
    display: flex;
  }
}
.elementor-pagination {
  @extend .__bt-pagination-style;
  .page-numbers {
    &.prev,
    &.next {
      font-size: inherit;
    }
  }
  span {
    &.prev,
    &.next {
      display: none;
    }
  }
}

.elementor-widget-form {
  .elementor-field,
  .elementor-field-textual {
    outline: none !important;
    box-shadow: none !important;
  }
  .elementor-form {
    ::-webkit-input-placeholder {
      opacity: 1 !important;
    }
    ::-moz-placeholder {
      opacity: 1 !important;
    }
    :-ms-input-placeholder {
      opacity: 1 !important;
    }
    .elementor-field,
    .elementor-field-textual {
      padding: 0 8px;
    }
  }
  .elementor-form[name="Contact With Us"] {
    .elementor-field-type-submit {
      justify-content: center;
      .elementor-button {
        flex-basis: auto;
      }
    }
  }
}

.elementor-widget-shortcode {
  &.bt-sc-dark-bg {
    .tnp-subscription-minimal form input.tnp-submit {
      background: $color-secondary;
    }
  }
  .tnp-subscription-minimal {
    margin: 0;
    form {
      position: relative;
      text-align: left !important;
      input.tnp-email {
        width: 100%;
        max-width: calc(100% - 70px);
        font-size: 16px;
        line-height: 20px;
        border-radius: 15px;
        border: 1px solid #dfdfdf;
        background-color: #fff;
        background-image: url("../images/envelope.svg");
        background-repeat: no-repeat;
        background-position: center left 25px;
        margin: 0;
        padding: 25px 150px 25px 55px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
      input.tnp-submit {
        position: absolute;
        top: 50%;
        right: 0;
        width: unset;
        min-width: 200px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
        color: #fff;
        background: $color-accent;
        padding: 15px;
        border-radius: 15px;
        transform: translateY(-50%);
      }
      @media (max-width: $break-xs) {
        input.tnp-email {
          padding-right: 80px;
        }
        input.tnp-submit {
          font-size: 14px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          min-width: unset;
          width: 140px;
        }
      }
    }
  }
}

.elementor-widget-loop-grid .elementor-posts-masonry {
  .bt-post--featured .bt-cover-image {
    padding-bottom: 0 !important;
    img {
      position: static;
    }
  }
}

.bt-align-left {
  .elementor-counter {
    .elementor-counter-number-prefix,
    .elementor-counter-number-suffix {
      flex-grow: unset;
    }
    .elementor-counter-title {
      text-align: left;
    }
  }
}

.bt-elwg-site-infor {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 40px;
  &--item {
    font-family: $primary-font;
    font-size: 16px;
    line-height: 150%;
    color: $color-primary;
    svg {
      fill: $color-accent;
      display: inline-block;
      margin: 0 4px -1px 0;
    }
  }
}

.bt-elwg-site-social {
  @extend .__bt-socials-style;
}

.bt-elwg-site-copyright {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 150%;
  color: $color-primary;
  a {
    color: $color-accent;
  }
}

.bt-elwg-contact-information {
  @extend .__bt-contact-information-style;
}

.bt-elwg-instagram-posts {
  @extend .__instagram-posts-style;
}

.bt-elwg-page-breadcrumb {
  .bt-page-breadcrumb {
    position: relative;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    word-break: break-word;
    z-index: 3;
    svg {
      fill: $color-accent;
      height: 16px;
      margin-right: 4px;
    }
  }
}

.bt-elwg-step-list {
  &--default {
    position: relative;
    &.bt-has-show-more {
      padding-bottom: 70px;
    }
    .bt-step-list {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background: #eacee8;
        z-index: 1;
      }
      .bt-line-progress {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 0;
        background: $color-accent;
        z-index: 1;
      }
    }
    .bt-step-item {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      z-index: 3;
      &.bt-hide-item {
        display: none;
      }
      &:not(:last-child) {
        margin-bottom: 60px;
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        .bt-step-item {
          &--left {
            padding-left: 115px;
            padding-right: 0;
          }
          &--right {
            padding-left: 0;
            padding-right: 115px;
          }
          &--number {
            left: auto;
            right: 0;
            transform: translate(50%, -50%);
          }
        }
      }
      &--left {
        width: 50%;
        padding-right: 115px;
      }
      &--right {
        position: relative;
        width: 50%;
        padding-left: 115px;
      }
      &--number {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100px;
        line-height: 0;
        transform: translate(-50%, -50%);
        svg {
          fill: #f5f5f5;
          width: 100%;
          height: auto;
        }
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          font-family: $secondary-font;
          font-size: 24px;
          font-weight: 700;
          color: $color-primary;
          line-height: 1;
          transform: translate(-50%, -50%);
        }
      }
      &--image {
        .bt-cover-image {
          padding-bottom: 58%;
          border-radius: 15px;
          border: 10px solid #fff;
          box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.15);
        }
      }
      &--subtitle {
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
        color: $color-accent;
        margin: 0 0 8px;
      }
      &--title {
        font-size: 32px;
        font-weight: 700;
        color: $color-primary;
        margin: 0 0 12px;
        span {
          font-family: $secondary-font;
          font-weight: 700;
          color: $color-accent;
        }
      }
      &--desc {
        margin-bottom: 36px;
      }
      &--button {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 24px;
        color: #fff;
        background: $color-accent;
        border-radius: 15px;
        padding: 16px 40px;
      }
    }
    .bt-step-show-more {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 480px;
      display: flex;
      align-items: end;
      justify-content: center;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 65%);
      z-index: 9;
      &--button {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        text-decoration-line: underline;
        color: $color-primary;
        background: #fff;
        padding: 15px 40px;
        border-radius: 15px;
        border: 1px solid #c6c6c6;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
        svg {
          fill: $color-accent;
          width: 32px;
          height: auto;
        }
        &:hover {
          color: $color-accent;
        }
      }
    }
    @media (max-width: $break-tl) {
      &.bt-has-show-more {
        padding-bottom: 30px;
      }
      .bt-step-item {
        &:nth-child(even) {
          .bt-step-item {
            &--left {
              padding-left: 65px;
              padding-right: 0;
            }
            &--right {
              padding-left: 0;
              padding-right: 65px;
            }
          }
        }
        &--left {
          padding-right: 60px;
        }
        &--right {
          padding-left: 60px;
        }
        &--number {
          width: 70px;
        }
      }
      .bt-step-show-more {
        max-height: 360px;
      }
    }
    @media (max-width: $break-sm) {
      .bt-step-list {
        &:before,
        .bt-line-progress {
          left: 25px;
        }
      }
      .bt-step-item {
        &--left {
          width: 100%;
          padding-left: 70px !important;
          padding-right: 0 !important;
        }
        &--right {
          width: 100%;
          padding-top: 30px;
          padding-left: 70px !important;
          padding-right: 0 !important;
        }
        &--number {
          left: 0 !important;
          width: 50px;
          transform: translate(0, -50%) !important;
          span {
            font-size: 20px;
          }
        }
        &--button {
          font-size: 14px;
          padding: 12px 25px 12px 25px;
        }
      }
      .bt-step-show-more {
        &--button {
          font-size: 16px;
          padding: 12px 25px 12px 25px;
          svg {
            width: 24px;
          }
        }
      }
    }
  }
}

.bt-elwg-post-grid {
  &--default {
    @extend .__bt-post-style-default;
    .bt-post-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .bt-post {
        width: calc(33.33% - 20px);
        @media (max-width: $break-md) {
          width: calc(50% - 15px);
        }
        @media (max-width: $break-sm) {
          width: 100%;
        }
      }
    }
  }
  &--style-1 {
    @extend .__bt-post-style-1;
    .bt-post-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .bt-post {
        width: calc(50% - 15px);
        @media (max-width: $break-sm) {
          width: 100%;
        }
      }
    }
  }
  &--style-2 {
    @extend .__bt-post-style-2;
    .bt-post-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .bt-post {
        width: calc(50% - 15px);
        &:first-child,
        &:nth-child(4) {
          width: 100%;
          .bt-cover-image {
            padding-bottom: 50%;
          }
        }
        @media (max-width: $break-sm) {
          width: 100%;
          &:first-child,
          &:nth-child(4) {
            .bt-cover-image {
              padding-bottom: 66.66%;
            }
          }
        }
      }
    }
  }
}

.bt-elwg-post-loop-item {
  &--default {
    @extend .__bt-post-style-default;
  }
  &--style-1 {
    @extend .__bt-post-style-1;
  }
  &--style-2 {
    @extend .__bt-post-style-2;
  }
}

.bt-elwg-image-slider {
  &--default {
    &.swiper-rtl {
      .swiper-slide {
        margin-left: 0 !important;
      }
    }
    .bt-image {
      &-slider {
        padding: 0;
        list-style: none;
        margin: 0;
        transition-timing-function: linear !important;
        overflow: visible !important;
      }
      &--item {
        width: auto;
        .bt-cover-image {
          border-radius: 0;
          box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.1);
          &.image-top {
            img {
              object-position: top;
            }
          }
          &.image-bottom {
            img {
              object-position: bottom;
            }
          }
        }
      }
      &--link {
        display: block;
      }
    }
  }
}

.bt-elwg-review-slider {
  &--default {
    width: 100%;
    height: 860px;
    margin: 0 auto;
    .bt-review {
      &-slider {
        padding: 0;
        list-style: none;
        margin: 0;
        transition-timing-function: linear !important;
        overflow: visible !important;
      }
      &--item {
        margin-bottom: 20px;
        background: #fff;
        padding: 32px;
        border-radius: 16px;
        height: auto !important;
      }
      &--name {
        position: relative;
        display: flex;
        align-items: center;
        font-family: $awakenur-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        line-height: 1;
        color: #111111;
        margin-bottom: 11px;
        span {
          font-weight: 400;
          opacity: 0.8;
        }
      }
      &--text {
        font-family: $awakenur-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        color: #111111;
      }
      &--rating {
        display: flex;
        gap: 4px;
        font-size: 0;
        line-height: 0;
        margin-bottom: 16px;
        span {
          &.bt-filled svg {
            fill: rgba(255, 207, 55, 1);
          }
          svg {
            fill: #cdcdcd;
            width: 16px;
            height: auto;
          }
        }
      }
    }
  }
}

.bt-elwg-text-slider {
  &--default {
    pointer-events: none;
    &.swiper-rtl {
      .swiper-slide {
        margin-left: 0 !important;
      }
    }
    .bt-text {
      &-slider {
        padding: 0;
        list-style: none;
        margin: 0;
        transition-timing-function: linear !important;
        overflow: visible !important;
      }
      &--item {
        width: auto;
        display: flex;
        align-items: center;
        gap: 40px;
        span {
          display: inline-block;
          color: #111;
          text-align: center;
          font-family: $awakenur-font;
          font-size: 56px;
          font-style: normal;
          font-weight: 600;
          line-height: 68px;
          text-transform: uppercase;
          @media (max-width: $break-sm) {
            font-size: 30px;
            line-height: 45px;
          }
        }
      }
    }
  }
}

.bt-elwg-demo-item {
  &--default {
    .bt-demo {
      &--item {
        text-align: center;
      }
      &--title {
        font-size: 24px;
        line-height: 1.25;
        margin-top: 20px;
      }
    }
  }
}

.bt-elwg-feature-item {
  &--default {
    .bt-feature {
      &--item {
        text-align: center;
        &:hover .bt-feature {
          &--image {
            transform: translateY(-15px);
          }
        }
      }
      &--image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 226px;
        height: 226px;
        margin: 0 auto;
        background: #fff;
        margin-bottom: 15px;
        border-radius: 100%;
        transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
        .bt-contain-image {
          position: relative;
          width: 100px;
          height: 100px;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
      &--title {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        margin-top: 20px;
      }
    }
  }
}
.bt-elwg-image-slider-vertical {
  &--default {
    width: 100%;
    max-width: 100%;
    height: 1200px;
    margin: 0 auto;
    &.swiper-rtl {
      .swiper-slide {
        margin-left: 0 !important;
      }
    }
    .bt-image {
      &-slider {
        padding: 0;
        list-style: none;
        margin: 0;
        transition-timing-function: linear !important;
        overflow: visible !important;
      }
      &--item {
        width: auto;
        height: auto !important;
        .bt-cover-image-wrap {
          display: block;
          img {
            border-radius: 12px;
            box-shadow: 0px 5px 18px rgba(64, 72, 87, 0.15);
            display: block;
            object-fit: cover;
          }
        }
      }
      &--link {
        display: block;
      }
    }
  }
}
.elementor-widget-bt-heading-animation {
  .bt-elwg-heading-animation {
    a {
      color: currentColor;
      font-weight: inherit;
      font-family: inherit;
      font-size: inherit;
      .bt-animation {
        opacity: 0;
        &.bt-animated {
          opacity: 1;
        }
      }
    }
  }
}

.bt-elwg-highlighted-heading {
  display: flex;
  justify-content: start;
  align-items: center;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 100%;
    max-width: fit-content;
    z-index: 9;
    color: $color-primary;
    a,
    span {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      color: inherit;
      display: inline-block;
      position: relative;
      svg {
        position: absolute;
        min-width: calc(100% + 50px);
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }

    .bt-small {
      font-size: 72%;
    }
  }

  .__text-highlighted {
    position: relative;
    color: $color-accent;
    display: initial;
    img {
      position: absolute;
      min-width: calc(100% + 70%);
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      cursor: pointer;
    }
  }
}
.bt-elwg-image-feature {
  &--bearsthemes {
    .bt-image-feature-item {
      position: relative;
      border-radius: 20px;
      box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.1);
      overflow: hidden;
      cursor: pointer;
      .bt-cover-image {
        img {
          object-position: top center;
          transition: 5s all;
        }
      }
      .bt-button-image {
        padding: 20px 15px;
        background: linear-gradient(0deg, #ffcf37 3.87%, rgba(#ffcf37, 0.4) 71.16%, rgba(45, 119, 220, 0) 100%);
        text-align: center;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
        transition: 0.5s all;
        a {
          color: #111;
          text-align: center;
          font-family: $awakenur-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          text-transform: capitalize;
          padding: 14px 40px;
          background: #fff;
          border-radius: 30px;
          display: block;
          @media (max-width: 850px) and (min-width: $break-sm) {
            font-size: 14px;
            padding: 9px 35px;
          }
        }
      }
      &:hover {
        .bt-button-image {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
        .bt-cover-image {
          img {
            //  object-position: bottom center;
          }
        }
      }
    }
  }
  &--cleanira {
    .bt-image-feature-item {
      position: relative;
      border-radius: 16px;
      box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.1);
      overflow: hidden;
      cursor: pointer;
      .bt-cover-image {
        img {
          object-position: top center;
          transition: 5s all;
        }
      }
      .bt-button-image {
        padding: 20px 15px;
        background: linear-gradient(0deg, #2d77dc 3.87%, rgba(45, 119, 220, 0.4) 71.16%, rgba(45, 119, 220, 0) 100%);
        text-align: center;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
        transition: 0.5s all;
        a {
          color: #212121;
          text-align: center;
          font-family: $cleanira-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          text-transform: capitalize;
          padding: 14px 48px;
          background: #fff;
          border-radius: 30px;
          display: block;
          @media (max-width: 850px) and (min-width: $break-sm) {
            font-size: 14px;
            padding: 9px 35px;
          }
        }
      }
      &:hover {
        .bt-button-image {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
        .bt-cover-image {
          img {
            object-position: bottom center;
          }
        }
      }
    }
  }
  &--awakenur {
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    padding: 16px;
    @media (max-width: 850px) and (min-width: $break-sm) {
      padding: 10px;
    }
    .bt-image-feature-item {
      position: relative;
      border-radius: 0;
      overflow: hidden;
      cursor: pointer;
      .bt-cover-image {
        img {
          object-position: top center;
          transition: 8s all;
        }
      }
      .bt-button-image {
        height: 200px;
        padding: 28px 32px;
        background: linear-gradient(180deg, rgba(36, 40, 61, 0) 0%, #ebd5b8 100%);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
        transition: 0.5s all;
        a {
          color: #212121;
          text-align: center;
          font-family: $awakenur-font;
          color: #4f320e;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          text-transform: capitalize;
          padding: 12px 30px;
          background: #fff;
          border-radius: 0;
          display: block;
          @media (max-width: 850px) and (min-width: $break-sm) {
            font-size: 14px;
            padding: 9px 30px;
          }
        }
      }

      &:hover {
        .bt-cover-image {
          img {
            object-position: bottom center;
          }
        }
        .bt-button-image {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
    .bt-title {
      color: #fff;
      font-family: $awakenur-font;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      text-transform: capitalize;
      padding: 4px 0;
      text-align: center;
      margin: 16px 0 0 0;
      @media (max-width: 850px) and (min-width: $break-sm) {
        font-size: 20px;
        line-height: 30px;
        padding: 0;
        margin: 10px 0 0 0;
      }
      a {
        color: inherit;
      }
    }
  }
  &--autoart {
    position: relative;
    padding-top: 20px;
    padding-bottom: 76px;
    @media (max-width: $break-xs) {
      padding-bottom: 65px;
    }
    .bt-image-feature-item {
      position: relative;
      border-radius: 20px;
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      cursor: pointer;
      z-index: 1;
      .bt-cover-image {
        img {
          object-position: top center;
          transition: 8s all;
        }
      }
      .bt-button-image {
        padding: 20px 15px;
        background: linear-gradient(0deg, #1fbecd 3.87%, rgba(#1fbecd, 0.4) 71.16%, rgba(45, 119, 220, 0) 100%);
        text-align: center;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
        transition: 0.5s all;
        a {
          color: #212121;
          text-align: center;
          font-family: $cleanira-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          text-transform: capitalize;
          padding: 14px 48px;
          background: #fff;
          border-radius: 30px;
          display: block;
          @media (max-width: 850px) and (min-width: $break-sm) {
            font-size: 14px;
            padding: 9px 35px;
          }
        }
      }
      &:hover {
        .bt-button-image {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
        .bt-cover-image {
          img {
            object-position: bottom center;
          }
        }
      }
    }
    .bt-title {
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: auto !important;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(218, 218, 218);
      border-image: initial;
      margin: 0px 20px;
      border-radius: 20px;
      a {
        margin-bottom: 24px;
        color: #222222;
        font-family: "DM Sans", Sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 33px;
        @media (max-width: $break-xs) {
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 15px;
        }
      }
    }
  }
  &--utenzo {
    border: 2px solid #fff;
    background: #fff;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.12);
    @media (max-width: 850px) and (min-width: $break-sm) {
      padding: 10px;
    }
    .bt-image-feature-item {
      position: relative;
      border-radius: 0;
      overflow: hidden;
      cursor: pointer;
      border-radius: 8px;
      border: 1px solid #f6f6f6;
      .bt-cover-image {
        img {
          object-position: top center;
          transition: 8s all;
        }
      }
      .bt-button-image {
        height: 200px;
        padding: 28px 32px;
        background: linear-gradient(180deg, rgba(36, 40, 61, 0) 0%, #0c2c48 100%);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
        transition: 0.5s all;
        a {
          color: #0c2c48;
          text-align: center;
          font-family: $utenzo-font;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          text-transform: capitalize;
          padding: 12px 32px;
          background: #fff;
          border-radius: 4px;
          display: block;
          @media (max-width: 850px) and (min-width: $break-sm) {
            font-size: 14px;
            padding: 9px 30px;
          }
        }
      }

      &:hover {
        .bt-cover-image {
          img {
            object-position: bottom center;
          }
        }
        .bt-button-image {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
    .bt-title {
      color: #0c2c48;
      font-family: $utenzo-font;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      text-transform: capitalize;
      padding: 4px 0;
      text-align: center;
      margin: 16px 0 0 0;
      @media (max-width: 850px) and (min-width: $break-sm) {
        font-size: 20px;
        line-height: 30px;
        padding: 0;
        margin: 10px 0 0 0;
      }
      a {
        color: inherit;
      }
    }
  }
}
.bt-elwg-image-feature-slider {
  &--cleanira {
    overflow: initial;
    .bt-image-feature-slider {
      list-style: none;
      padding: 0;
      margin-bottom: 38px;
      .bt-image--item {
        &:hover {
          .bt-image-feature-item {
            .bt-cover-image {
              img {
                object-position: bottom center;
              }
            }
          }
        }
      }
      .bt-image-feature-item {
        position: relative;
        border-radius: 16px;
        box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.1);
        overflow: hidden;
        cursor: pointer;
        .bt-cover-image {
          img {
            object-position: top center;
            transition: 8s all;
          }
        }
        .bt-button-image {
          padding: 20px 15px;
          background: linear-gradient(0deg, #2d77dc 3.87%, rgba(45, 119, 220, 0.4) 71.16%, rgba(45, 119, 220, 0) 100%);
          text-align: center;
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: 0;
          width: 100%;
          opacity: 0;
          visibility: hidden;
          transform: translateY(100%);
          transition: 0.5s all;
          a {
            color: #212121;
            text-align: center;
            font-family: $cleanira-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            text-transform: capitalize;
            padding: 14px 48px;
            background: #fff;
            border-radius: 30px;
            display: block;
            @media (max-width: 850px) and (min-width: $break-sm) {
              font-size: 14px;
              padding: 9px 35px;
            }
          }
        }
        &:hover {
          .bt-button-image {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
      }
    }
    .bt-image-feature-title {
      color: #212121;
      text-align: center;
      font-family: $cleanira-font;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      margin: 13px 0 0 0;
      a {
        color: inherit;
      }
    }
    .swiper-pagination {
      position: relative;
      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        background: transparent;
        border: 1px solid transparent;
        position: relative;
        opacity: 1;
        &.swiper-pagination-bullet-active {
          border-color: #212121;
        }
        &::before {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #212121;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  &--awakenur {
    overflow: initial;
    .bt-image-feature-slider {
      list-style: none;
      padding: 0;
      margin-bottom: 42px;
      .bt-image--item {
        border: 2px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.1);
        padding: 16px;
        &:hover {
          .bt-image-feature-item {
            .bt-cover-image {
              img {
                object-position: bottom center;
              }
            }
          }
        }
        .bt-image-feature-item {
          position: relative;
          border-radius: 0;
          overflow: hidden;
          cursor: pointer;
          .bt-cover-image {
            img {
              object-position: top center;
              transition: 8s all;
            }
          }
          .bt-button-image {
            height: 200px;
            padding: 28px 32px;
            background: linear-gradient(180deg, rgba(36, 40, 61, 0) 0%, #ebd5b8 100%);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: absolute;
            bottom: 0;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            transform: translateY(100%);
            transition: 0.5s all;
            a {
              color: #212121;
              text-align: center;
              font-family: $awakenur-font;
              color: #4f320e;
              text-align: center;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
              text-transform: capitalize;
              padding: 12px 30px;
              background: #fff;
              border-radius: 0;
              display: block;
              @media (max-width: 850px) and (min-width: $break-sm) {
                font-size: 14px;
                padding: 9px 35px;
              }
            }
          }
          &:hover {
            .bt-button-image {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
          }
        }
      }
    }
    .bt-image-feature-title {
      color: #fff;
      font-family: $awakenur-font;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      text-transform: capitalize;
      padding: 4px 0;
      text-align: center;
      margin: 16px 0 0 0;
      a {
        color: inherit;
      }
    }
    .swiper-pagination {
      position: relative;
      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        background: transparent;
        border: 1px solid transparent;
        position: relative;
        opacity: 1;
        &.swiper-pagination-bullet-active {
          border-color: #fff;
          &::before {
            background: #fff;
          }
        }
        &::before {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: transparent;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border: 1px solid #fff;
        }
      }
    }
  }
  &--utenzo {
    overflow: initial;
    .bt-image-feature-slider {
      list-style: none;
      padding: 0;
      margin-bottom: 55px;
      .bt-image--item {
        border: 2px solid #fff;
        background: #fff;
        padding: 16px;
        border-radius: 20px;
        box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.12);
        &:hover {
          .bt-image-feature-item {
            .bt-cover-image {
              img {
                object-position: bottom center;
              }
            }
          }
        }
        .bt-image-feature-item {
          position: relative;
          border-radius: 0;
          overflow: hidden;
          cursor: pointer;
          border-radius: 8px;
      border: 1px solid #f6f6f6;
          .bt-cover-image {
            img {
              object-position: top center;
              transition: 8s all;
            }
          }
          .bt-button-image {
            height: 200px;
            padding: 28px 32px;
            background: linear-gradient(180deg, rgba(36, 40, 61, 0) 0%, #0c2c48 100%);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: absolute;
            bottom: 0;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            transform: translateY(100%);
            transition: 0.5s all;
            a {
              color: #0c2c48;
              text-align: center;
              font-family: $utenzo-font;
              text-align: center;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
              text-transform: capitalize;
              padding: 12px 32px;
              background: #fff;
              border-radius: 4px;
              display: block;
              @media (max-width: 850px) and (min-width: $break-sm) {
                font-size: 14px;
                padding: 9px 35px;
              }
            }
          }
          &:hover {
            .bt-button-image {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
          }
        }
      }
    }
    .bt-image-feature-title {
      color: #0c2c48;
      font-family: $utenzo-font;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      text-transform: capitalize;
      padding: 4px 0;
      text-align: center;
      margin: 16px 0 0 0;
      a {
        color: inherit;
      }
    }
    .swiper-pagination {
      position: relative;
      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        background: transparent;
        border: 1px solid transparent;
        position: relative;
        opacity: 1;
        &.swiper-pagination-bullet-active {
          border-color: #0C2C48;
          &::before {
            background: #0C2C48;
          }
        }
        &::before {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: transparent;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border: 1px solid #0C2C48;
        }
      }
    }
  }
}

.bt-all-cards {
  display: flex;
  flex-direction: column;
  .bt-card1 {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
  }
  .bt-card2 {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
  }
  .bt-card3 {
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
  }
  .bt-card4 {
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
  }
}
.bt-elwg-theme-feature {
  &--default {
    .bt-theme-list {
      max-width: 1450px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      .bt-post {
        border-radius: 32px;
        padding: 20px 6px;
        background: #fff;
        position: -webkit-sticky;
        position: sticky;
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            top: #{50 * $i}px;
          }
        }
        @media (max-width: 991px) {
          position: relative;
          top: auto !important;
          padding: 10px 0;
        }
        &--wrap {
          border-radius: 32px;
          background: #f7f7f7;
          padding: 40px;
          @media (max-width: $break-lg) {
            padding: 30px 20px;
          }
        }
        &--inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
          @media (max-width: 991px) {
            flex-direction: column;
            gap: 30px;
          }
        }
        &--featured {
          width: calc(50% - 40px);
          @media (max-width: $break-lg) {
            width: calc(50% - 15px);
          }
          @media (max-width: 991px) {
            width: 100%;
          }
          .bt-cover-image {
            position: relative;
            border-radius: 20px;
            box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.1);
            overflow: hidden;
            cursor: pointer;
            transition: all 0.3s ease;
            img {
              object-position: top;
            }
            .bt-price {
              color: #111;
              font-family: $awakenur-font;
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: 36px;
              text-transform: capitalize;
              position: absolute;
              top: 20px;
              right: 20px;
              background: #ffcf37;
              padding: 2px 16px;
              border-radius: 100px;
            }
            &:hover {
              box-shadow: 0px 20px 30px 0px rgba(54, 95, 104, 0.3);
              transform: translateY(-5px);
            }
          }
        }
        &--infor {
          width: calc(50% - 40px);
          @media (max-width: $break-lg) {
            width: calc(50% - 15px);
          }
          @media (max-width: 991px) {
            width: 100%;
          }
          .bt-first-category {
            font-family: $awakenur-font;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 18px;
            letter-spacing: 1.4px;
            color: #111111;
            position: relative;
            display: flex;
            align-items: center;
            gap: 8px;
            &::before {
              content: "";
              display: block;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background: #ffcf37;
              position: relative;
              top: -1px;
            }
          }
          .list-features {
            list-style: none;
            margin: 40px 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 18px;
            li {
              display: flex;
              font-family: $awakenur-font;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 28px;
              color: #111;
              gap: 12px;
              align-items: center;
            }
            @media (max-width: $break-lg) {
              margin: 20px 0 30px 0;
              gap: 12px;
              li {
                font-size: 18px;
              }
            }
            @media (max-width: $break-sm) {
              margin: 10px 0 20px 0;
              gap: 10px;
              li {
                font-size: 16px;
                align-items: normal;
              }
            }
          }
        }
        &--title {
          font-family: $awakenur-font;
          font-size: 44px;
          font-weight: 600;
          line-height: 56px;
          color: #111111;
          margin: 12px 0px 0px 0px;
          a {
            color: #111111;
          }
          @media (max-width: $break-lg) {
            font-size: 30px;
            line-height: 44px;
          }
          @media (max-width: 1025px) {
            font-size: 28px;
            line-height: 36px;
          }
        }
        &--button {
          display: flex;
          flex-wrap: wrap;
          gap: 10px 15px;
          a {
            background: #ffcf37;
            border-radius: 100px;
            padding: 16px 36px;
            color: #111;
            font-family: $awakenur-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            gap: 8px;
            &.evento {
              background: #111;
              padding: 13px 36px;
              color: #fff;
              .icon-evento {
                width: 70px;
                height: 24px;
              }
            }
          }
        }
      }
    }
  }
}
.bt-elwg-theme-filter {
  &--default {
    .bt-content-theme {
      min-height: 400px;
      position: relative;
      .bt-loading-card {
        opacity: 0;
        z-index: -1;
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
      }
      &.loading {
        .bt-loading-card {
          opacity: 1;
          z-index: 9;
        }
        .bt-load-theme-list {
          opacity: 0;
        }
      }
    }
    .bt-category-list {
      display: flex;
      margin: 0;
      list-style: none;
      padding: 0;
      justify-content: center;
      gap: 12px;
      flex-wrap: wrap;
      margin-bottom: 48px;
      li {
        padding: 12px 24px;
        border: 2px solid #fff;
        background: #fff;
        color: #111;
        font-family: $awakenur-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        text-transform: capitalize;
        border-radius: 48px;
        cursor: pointer;
        &.active {
          border-color: #ffcf37;
        }
        @media (max-width: $break-xs) {
          padding: 9px 20px;
          font-size: 14px;
        }
      }
    }
    .bt-load-theme-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      transition: opacity 0.3s ease;
      .bt-post {
        border-radius: 8px;
        background: #fff;
        box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.1);
        padding: 16px;
        &--featured {
          .bt-cover-image {
            border-radius: 6px;
          }
        }
        &--infor {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 16px;
          .bt-first-category {
            color: #757678;
            font-family: $awakenur-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
        &--subtitle {
          color: #111;
          font-family: $awakenur-font;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 34px;
          text-transform: capitalize;
          a {
            color: #111;
          }
        }
        &--price {
          span {
            color: #111;
            font-family: $awakenur-font;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px;
            text-transform: capitalize;
            background: #ffcf37;
            padding: 2px 16px;
            border-radius: 100px;
          }
        }
      }

      @media (max-width: 1300px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
      }
    }
    .bt-button-all {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      a {
        background: #ffcf37;
        border-radius: 100px;
        padding: 16px 28px;
        color: #111;
        font-family: "Figtree", Sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}
.bt-elwg-features-slider-vertical {
  &--default {
    width: 100%;
    max-width: 100%;
    height: 1240px;
    margin: 0 auto;
    @media (max-width: $break-lg) and (min-width: $break-tl) {
      height: 1110px;
    }
    @media (max-width: $break-sm) {
      height: 1000px;
    }
    &.swiper-rtl {
      .swiper-slide {
        margin-left: 0 !important;
      }
    }
    .bt-features {
      &-slider {
        padding: 0;
        list-style: none;
        margin: 0;
        transition-timing-function: linear !important;
        overflow: visible !important;
      }
      &--item {
        width: auto;
        height: auto !important;
        padding: 28px 36px 41px 36px;
        border-radius: 20px;
        @media (max-width: 1350px) and (min-width: $break-tl) {
          padding: 28px 20px;
        }
        @media (max-width: $break-sm) {
          padding: 20px 10px;
          border-radius: 10px;
        }
        .bt-cover-image {
          border-radius: 8px;
          background: transparent;
          padding-bottom: 57.5%;
        }
      }
      &--title {
        font-family: $awakenur-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px; /* 150% */
        text-transform: capitalize;
        color: #111111;
      }
      &--description {
        font-family: $awakenur-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        color: rgba(17, 17, 17, 0.6);
        margin-bottom: 22px;
      }
      &--link {
        display: block;
      }
      @media (max-width: $break-lg) and (min-width: $break-tl) {
        &--title {
          font-size: 18px;
          line-height: 30px;
        }
        &--description {
          font-size: 15px;
          line-height: 20px;
        }
      }
      @media (max-width: $break-sm) {
        &--title {
          font-size: 16px;
          line-height: 26px;
        }
        &--description {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
