.gform_wrapper {
    &.bt-estimate-project-form {
        &_wrapper {
            ::-webkit-input-placeholder {
                opacity: 0.5;
            }
            ::-moz-placeholder {
                opacity: 0.5;
            }
            :-ms-input-placeholder {
                opacity: 0.5;
            }
            :-moz-placeholder {
                opacity: 0.5;
            }
        }
    }
}