.bt-site-header {
  position: relative;
  z-index: 999;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  .bt-header-row {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .bt-logo-col {
    width: 20%;
  }
  .bt-primary-menu-col {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .bt-site-logo {
    height: 98px;
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      line-height: 0;
      padding: 10px 0;
      img {
        max-width: 218px;
        width: 100%;
        height: auto;
      }
    }
  }
  .bt-primary-menu {
    .bt-page-menu-wrap,
    .bt-primary-menu-container {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        .current_page_item,
        .current-menu-item {
          a {
            color: $color-accent;
          }
        }
        a {
          display: inline-block;
          font-family: $primary-font;
          color: $color-primary;
          font-size: 16px;
          font-weight: 500;
          line-height: 130%;
          &:hover {
            color: $color-accent;
          }
        }
        .page_item_has_children,
        .menu-item-has-children {
          position: relative;
          &:hover {
            > ul {
              opacity: 1;
              visibility: visible;
            }
          }
          ul {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 200px;
            background: #fff;
            opacity: 0;
            visibility: hidden;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            &.bt-align-left {
              left: 0;
              right: auto;
            }
            &.bt-align-right {
              left: auto;
              right: 0;
            }
            li:not(:first-child) {
              border-top: 1px solid #c4c4c4;
            }
            .current_page_item,
            .current-menu-item {
              a {
                color: $color-accent;
              }
            }
            a {
              display: block;
              color: $color-text;
              padding: 12px 15px;
              &:hover {
                color: $color-accent;
              }
            }
            ul {
              top: 0;
              left: 100%;
              &.bt-align-left {
                left: 100%;
                right: auto;
              }
              &.bt-align-right {
                left: auto;
                right: 100%;
              }
            }
          }
        }
      }
      > ul {
        display: flex;
        align-items: center;
        gap: 10px 20px;
        &#menu-all-pages-flat {
          flex-wrap: wrap;
          > li > a {
            min-height: unset;
          }
        }
        > li > a {
          min-height: 98px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .bt-menu-toggle {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    z-index: 5;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &.bt-is-hidden {
      opacity: 0;
      visibility: hidden;
    }
    &.bt-menu-close {
      position: absolute;
      top: 26px;
      right: 22px;
    }
  }
  @media (max-width: $break-md) {
    .bt-logo-col {
      width: 70%;
    }
    .bt-primary-menu-col {
      width: 30%;
    }
    .bt-primary-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 263px;
      height: 100vh;
      overflow: auto;
      z-index: 9;
      opacity: 0;
      visibility: hidden;
      background: rgba(245, 245, 245, 0.95);
      -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      &.bt-is-active {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      .bt-page-menu-wrap,
      .bt-primary-menu-container {
        padding: 120px 30px 30px;
        ul {
          .page_item_has_children,
          .menu-item-has-children {
            .bt-toggle-icon {
              position: absolute;
              top: 9px;
              right: 0;
              width: 24px;
              height: 24px;
              cursor: pointer;
              background-image: url("../images/alt-arrow-down.svg");
              background-repeat: no-repeat;
              background-position: center;
              -webkit-transition: all 0.3s;
              transition: all 0.3s;
              &.bt-is-active {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
              }
            }
            ul {
              display: none;
              position: static;
              opacity: 1;
              visibility: visible;
              background: transparent;
              li {
                border-top: 1px solid #c4c4c4;
                &:not(:first-child) {
                  border-color: #c4c4c4;
                }
              }
              a {
                color: $color-primary;
              }
            }
          }
        }
        > ul {
          flex-direction: column;
          align-items: flex-start;
          gap: 0;
          > li {
            width: 100%;
            &:not(:first-child) {
              border-top: 1px solid #c4c4c4;
            }
            > a {
              display: block;
              min-height: unset;
              padding: 12px 0;
            }
          }
        }
      }
    }
    .bt-menu-toggle {
      display: flex;
    }
  }
}

/* Elementor Header */
.elementor-location-header .elementor-element {
  ul.elementor-nav-menu--dropdown {
    min-width: 200px !important;
    a {
      border-left: none;
    }
    ul.elementor-nav-menu--dropdown {
      border-radius: 15px;
      li:first-child a {
        border-radius: 15px 15px 0 0 !important;
      }
      li:not(:last-child) a {
        border-radius: 0;
      }
    }
  }
  @media (max-width: 1024.98px) {
    ul.elementor-nav-menu a.has-submenu {
      justify-content: space-between;
      &.highlighted .sub-arrow {
        transform: rotate(180deg);
      }
      .sub-arrow {
        margin-right: -10px;
        padding: 10px;
        transition: all 0.3s;
      }
    }
  }
  &.bt-header-main {
    > .e-con-inner {
      > .elementor-element {
        > .elementor-element {
          @media (max-width: 1300px) and (min-width: $break-tl) {
            gap: 30px;
          }
          @media (max-width: 1200px) and (min-width: $break-tl) {
            .elementor-widget-search {
              display: none;
            }
          }
        }
      }
    }
  }
  &.bt-header-cleanira {
    .elementor-widget-nav-menu {
      .elementor-nav-menu {
        .elementor-item {
          @media (max-width: 1150px) and (min-width: $break-tl) {
            --e-nav-menu-horizontal-menu-item-margin: calc(28px / 2);
          }
          &.elementor-item-active {
            color: #212121;
            fill: #212121;
            &::after {
              opacity: 0;
            }
          }
        }
        .bt-buy-theme {
          .elementor-item {
            color: #2d77dc;
            fill: #2d77dc;
            &::after {
              background-color: #2d77dc;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  &.bt-header-awakenur {
    .elementor-widget-nav-menu {
      .elementor-nav-menu {
        .elementor-item {
          @media (max-width: 1230px) and (min-width: $break-tl) {
            --e-nav-menu-horizontal-menu-item-margin: calc(20px / 2);
            font-size: 16px;
          }
          &.elementor-item-active {
            color: #4f320e;
            fill: #4f320e;
            &::after {
              opacity: 0;
            }
          }
        }
        .bt-buy-theme {
          .elementor-item {
            padding: 6px 20px;
            width: fit-content;
            font-size: 18px;
            background-color: #ebd5b8;
          }
        }
      }
    }
    @media (max-width: 1230px) and (min-width: $break-tl) {
      padding-left: 15px;
      padding-right: 15px;
      .elementor-widget-image {
        img {
          max-width: 230px;
        }
      }
      .elementor-widget-button {
        .elementor-button {
          padding: 12px 25px 12px 25px;
        }
      }
    }
  }
  &.bt-section-header-autoart {
    .elementor-widget-nav-menu {
      .elementor-nav-menu {
        .elementor-item {
          @media (max-width: 1270px) and (min-width: $break-tl) {
            --e-nav-menu-horizontal-menu-item-margin: calc(20px / 2);
            font-size: 17px;
          }
          &.elementor-item-active {
            color: #222222;
            fill: #222222;
            &::after {
              opacity: 0;
            }
          }
        }
      }
    }
    &.elementor-sticky {
      &--effects {
        background: #fff;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
        > .e-con-inner {
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .elementor-widget-icon {
          .elementor-icon {
            svg {
              fill: #222222;
            }
          }
        }
        .elementor-nav-menu--main {
          .elementor-nav-menu {
            .elementor-item {
              color: #222222;
              fill: #222222;
              &:hover {
                color: #1ebecd;
                fill: #1ebecd;
              }
              &.elementor-item-active {
                color: #1ebecd;
                fill: #1ebecd;
              }
            }
          }
        }
        .bt-logo-main {
          display: none;
        }
        .bt-logo-sticky {
          display: block;
        }
      }
    }
    .bt-col-menu-header {
      @media (max-width: 1390px) and (min-width: $break-tl) {
        --width: 55%;
      }
    }
    .bt-col-button-header {
      @media (max-width: 1390px) and (min-width: $break-tl) {
        --width: 20%;
      }
    }
    @media (max-width: 1250px) and (min-width: $break-tl) {
      > .e-con-inner {
        padding-top: 20px;
      }
    }
  }
  &.bt-header-utenzo {
    &.elementor-sticky--effects{
      box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.12);
    }
    .elementor-widget-nav-menu {
      .elementor-nav-menu {
        .elementor-item {
          &::after{
            bottom: 4px;
          }
          @media (max-width: 1230px) and (min-width: $break-tl) {
            --e-nav-menu-horizontal-menu-item-margin: calc(20px / 2);
            font-size: 16px;
          }
          &.elementor-item-active {
            color: #0c2c48;
            fill: #0c2c48;
            &::after {
              opacity: 0;
            }
          }
        }
        .bt-buy-theme {
          .elementor-item {
            padding: 6px 20px;
            width: fit-content;
            font-size: 18px;
            color: #fff;
            background-color: #0c2c48;
            border-radius: 4px;
          }
        }
      }
    }
    @media (max-width: 1230px) and (min-width: $break-tl) {
      padding-left: 15px;
      padding-right: 15px;
      .elementor-widget-image {
        img {
          max-width: 230px;
        }
      }
      .elementor-widget-button {
        .elementor-button {
          padding: 12px 25px 12px 25px;
        }
      }
    }
  }
}

body.admin-bar .dialog-type-lightbox {
  &.bt-menu-mobile-popup {
    position: fixed;
    top: 45px;
  }
}
.bt-menu-mobile-popup {
  position: fixed !important;
  .elementor-nav-menu {
    a.has-submenu {
      display: flex;
      justify-content: space-between;
      i,
      svg {
        transition: all 0.3s;
      }
      &.highlighted .sub-arrow {
        i,
        svg {
          transform: rotate(180deg);
        }
      }
    }
    ul.elementor-nav-menu--dropdown {
      &.sub-menu ul.sub-menu {
        padding-left: 20px;
      }
      a.elementor-sub-item {
        position: relative;
        padding-left: 50px;
        font-family: $text-font !important;
        font-size: 16px !important;
        font-weight: 500 !important;
        color: $color-primary;
        border: none;
        &:before {
          content: "";
          position: absolute;
          top: 25px;
          left: 20px;
          width: 18px;
          height: 1px;
          background: $color-primary;
        }
      }
    }
  }
}
